
body {
    background-color: #000000c2; /* Cor do fundo escuro */
    color: #ffffff;            /* Cor do texto em branco */
}


button{

    color: #ffffff;

    background-color:  #ff3cac;

    padding : 10px 24px ;

    border: none;

    border-radius : 10px
}

